/* * {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #222;
  background-color: #f5f5f5;
}

h1 {
  font-weight: bold;
  
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #87D37C;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px;
} */

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: #f5f5f5;
}

h1 {
  font-weight: bold;
}

form {
  background-color: paleturquoise;
  border-radius: 5px;
  padding: 15px;
}

form input[type="text"], form button {
  margin-bottom: 10px;
}

form input[type="text"] {
  border: 1px solid lightgrey;
}

form input[type="submit"] {
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 0.9em;
  background-color: #f5f5f5;
  padding: 2px;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  flex-wrap: wrap;
  width: 500px;
}

footer a {
  color: #222; 
}
